# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\NAMI\Year 2\Term I\Group Work\Github Links\Blockchain-based-E-Voting-Simulation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
